<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<p><%= link_to "edit article", edit_article_path %></p>
<p><%= link_to "delete", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
<p><%= link_to "show all articles", articles_path %></p>
